.container {
	@apply bg-gray-900 text-yellow-50;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 25vw;
	height: auto;
	background-color: #D2D2D2;
	border-radius: .25rem;
}

.backToHome {
	@apply bg-slate-950 text-yellow-100 p-4 rounded hover:bg-slate-200 hover:text-gray-800 transition-all duration-300 shadow-sm;
}